* {
  box-sizing: border-box;
}

html {
  --red: #e51d28;
  --orangered: #f16969;
  --green: #3c3;
  --gray: rgba(139, 139, 139, 0.644);
  --lightshadow: rgb(230, 229, 229);
  --white: #fff;
  --top-bar-height: 2.5rem;
  --total-max-width: 1300px;
  --tag-space: 20px;
  --gutter: 1rem;
  color: #333;
  font-family: "Trebuchet MS";
  line-height: 1.3;
}

/* should only be used on html */
.no-scroll {
  position: fixed;
  width: 100%;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0 auto;
  max-width: var(--total-max-width);
}

main {
  padding: var(--top-bar-height) var(--gutter) 0;
  min-height: 100vh;
}

section {
  margin: var(--gutter) 0;
}

/* スマホ */
.top-bar {
  display: grid;
  grid-template-columns: 3rem 1fr 1.5fr 3rem;
  grid-template-rows: var(--top-bar-height) 1fr;
  grid-template-areas:
    "search logo title burger"
    "nav nav nav nav";
  position: fixed;
  top: 0;
  width: 100%;
  max-width: var(--total-max-width);
  height: var(--top-bar-height);
  overflow-y: hidden;
  transition: height 0.2s;
  z-index: 1;
  background-color: var(--red);
  color: var(--white);
  font-size: 1.5rem;
}

.top-bar--open {
  height: 100%;
}

.top-bar__search {
  grid-area: search;
  height: var(--top-bar-height);
}

.top-bar__logo {
  grid-area: logo;
  height: var(--top-bar-height);
  display: flex;
  justify-content: flex-end;
}

.top-bar__logo img {
  height: var(--top-bar-height);
}

  /* 以上、ページ全体とヘッダー・フッターのスタイリング */
  .dropdown {
    position: relative;
    display: block;
    margin: 20px 20px 20px 0;
  }
  
  .dropdown__button {
    background-color: var(--orangered);
    color: white;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;}

    
  .top-bar__title {
    grid-area: title;
    text-align: start;
    align-self: center;
    font-weight: bold;
  }

  .top-bar__burger {
    grid-area: burger;
    align-self: center;
    justify-self: center;
    cursor: pointer;
  }

  .top-bar__burger > * {
    width: 1em;
    height: 0.15em;
    margin: 0.15em 0;
    background-color: var(--white);
    border-radius: 20%;
  }

  .top-bar__nav {
    grid-area: nav;
    text-align: center;
    background-color: var(--orangered);
  }

  .top-bar__nav > * {
    height: var(--top-bar-height);
    padding: 7vh;
  }

  .top-bar__nav a {
    vertical-align: middle;
  }

  .footer {
    display: grid;
    grid-template-columns: 4rem 1fr;
    grid-template-areas:
      "logo title"
      "logo contact";
    background-color: var(--red);
    color: var(--white);
    width: 100%;
    min-height: 5rem;
    padding: 0 var(--gutter);
  }

  .footer__logo {
    grid-area: logo;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
  }

  .footer__title {
    grid-area: title;
    align-self: center;
  }

  .footer__contact {
    grid-area: contact;
  }

  /* タブレット */
  @media screen and (min-width: 700px) {
    html {
      --top-bar-height: 3rem;
    }

    .top-bar {
      grid-template-columns: 3rem 1fr 1.2fr 3rem;
      height: var(--top-bar-height);
      font-size: 2rem;
    }
  }

  /* 以上、ページ全体とヘッダー・フッターのスタイリング */
  .dropdown {
    position: relative;
    display: block;
    margin: 20px 20px 20px 0;
  }

  .dropdown__button {
    background-color: var(--orangered);
    color: white;
    padding: 16px;
    font-size: 16px;
    border-radius: 5px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  main h3 {
    display: inline-block;
    border-bottom: 0.5px solid var(--gray);
    width: 70vw;
    margin: 40px 0 10px;
    padding: 0;
  }

  .see-more {
    display: block;
    background: var(--orangered);
    width: 280px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 3px 5px 10px var(--lightshadow);
    color: var(--white);
    font-size: 20px;
    text-align: center;
    line-height: 180%;
    margin: auto;
    position: relative;
  }

  .see-more a {
    padding: 10px 70px;
  }

  /* スマホ */
  .magazine {
    margin: 10px 0 10px 0;
  }

  .magazine__card {
    display: grid;
    grid-template-columns: 80px auto auto;
    grid-template-areas:
      "s-icon s-motif ."
      "s-icon s-name s-enter"
      "s-icon s-tag ."
      "s-img s-img s-img";
    align-items: center;
    width: 90vw;
    margin: 0 0 50px 0;
  }

  .magazine__icon {
    grid-area: s-icon;
    width: 60px;
    border-radius: 6px;
    box-shadow: 3px 5px 10px var(--lightshadow);
  }

  .magazine__motif {
    grid-area: s-motif;
    font-size: 12px;
    margin: 0;
    padding: 0;
  }

  .magazine__card h5 {
    grid-area: s-name;
    font-size: 25px;
    margin: 0;
    padding: 0;
  }

  .magazine__enter {
    grid-area: s-enter;
    margin: 0;
    padding: 0;
  }

  .magazine__enter a {
    font-size: 12px;
    color: var(--white);
    text-align: center;
    line-height: 200%;
    background: var(--orangered);
    width: 80%;
    height: 70%;
    border-radius: 10px;
    float: right;
  }

  .magazine__tag {
    grid-area: s-tag;
    font-size: 10px;
    margin: 0;
    padding: 0;
  }

  .magazine__img {
    grid-area: s-img;
    object-fit: cover;
    object-position: 50%;
    width: 300px;
    height: 200px;
    margin: 3vh 2vw;
    justify-self: center;
    border-radius: 6px;
    box-shadow: 3px 5px 10px var(--lightshadow);
  }

  /* タブレット */
  @media screen and (min-width: 700px) {
    .magazine__card {
      width: 345px;
      grid-template-columns: 90px auto 40%;
    }

    .magazine__icon {
      width: 80px;
    }

    .magazine__img {
      width: 70vw;
      height: 30vh;
    }

    .magazine__card img {
      max-width: var(--total-max-width);
      object-fit: cover;
      object-position: 100% 100%;
      width: 60vw;
      margin: 0 0 30px;
    }
  }
