* {
  box-sizing: border-box;
}

html {
  --red: #e51d28;
  --orangered: #f16969;
  --green: #3c3;
  --gray: rgba(139, 139, 139, 0.644);
  --lightshadow: rgb(230, 229, 229);
  --white: #fff;
  --top-bar-height: 2.5rem;
  --total-max-width: 1300px;
  --tag-space: 20px;
  --gutter: 1rem;
  color: #333;
  font-family: "Trebuchet MS";
  line-height: 1.3;
  scroll-behavior: smooth;
}

/* should only be used on html */
.no-scroll {
  position: fixed;
  width: 100%;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0 auto;
  max-width: var(--total-max-width);
}

main {
  padding: var(--top-bar-height) var(--gutter) 0;
  min-height: 100vh;
}

section {
  margin: var(--gutter) 0;
}

.top-bar {
  display: grid;
  grid-template-columns: 3rem 1fr 3rem;
  grid-template-rows: var(--top-bar-height) 1fr;
  grid-template-areas:
    "search title burger"
    "nav nav nav";
  position: fixed;
  top: 0;
  width: 100%;
  max-width: var(--total-max-width);
  height: var(--top-bar-height);
  overflow-y: hidden;
  transition: height 0.2s;
  z-index: 30;
  background-color: var(--red);
  color: var(--white);
  font-size: 1.5rem;
}

.top-bar--open {
  height: 100%;
}

.top-bar__search {
  grid-area: search;
  height: var(--top-bar-height);
}

.top-bar__title {
  grid-area: title;
  justify-self: center;
  align-self: center;
  font-weight: bold;
}

.top-bar__title * {
  vertical-align: middle;
}

.top-bar__burger {
  grid-area: burger;
  align-self: center;
  justify-self: center;
  cursor: pointer;
}

.top-bar__burger > * {
  width: 1em;
  height: 0.15em;
  margin: 0.15em 0;
  background-color: var(--white);
  border-radius: 20%;
}

.top-bar__nav {
  grid-area: nav;
  text-align: center;
  background-color: var(--orangered);
}

.top-bar__nav > * {
  height: var(--top-bar-height);
  padding: 7vh;
}

.top-bar__nav a {
  vertical-align: middle;
}

.footer {
  display: grid;
  grid-template-columns: 4rem 1fr;
  grid-template-areas:
    "logo title"
    "logo contact";
  background-color: var(--red);
  color: var(--white);
  width: 100%;
  min-height: 5rem;
  padding: 0 var(--gutter);
}

.footer__logo {
  grid-area: logo;
  border-radius: 50%;
  align-self: center;
  justify-self: center;
}

.footer__title {
  grid-area: title;
  align-self: center;
}

.footer__contact {
  grid-area: contact;
}

/* タブレット */
@media screen and (min-width: 700px) {
  html {
    --top-bar-height: 3rem;
  }
}

/* 以上、ページ全体とヘッダー・フッターのスタイリング */

.open-visual {
  display: block;
  top: var(--top-bar-height);
  margin: var(--top-bar-height) 0 40px;
  padding: 0;
  width: 100vw;
  height: 80vh;
  max-width: var(--total-max-width);
}

.open-visual img {
  display: block;
  position: absolute;
  object-fit: cover;
  object-position: 40% 0%;
  overflow: hidden;
  width: 100vw;
  height: 80vh;
}

.open-visual img:nth-of-type(1) {
  animation-name: fader;
  animation-delay: 4s;
  animation-duration: 1s;
  z-index: 20;
}

.open-visual img:nth-of-type(2) {
  z-index: 10;
}
.open-visual img:nth-of-type(n+3) {
  display: none;
}

@keyframes fader {
  from { opacity: 1.0; }
  to   { opacity: 0.0; }
}


.open-visual h2 {
  display: block;
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  color: var(--white);
  text-shadow: 1px 2px 2px #333;
  z-index: 30;
}

main h3 {
  display: inline-block;
  border-bottom: 0.5px solid var(--gray);
  width: 70vw;
  margin: 0 0 30px;
  padding: 0;
}

.see-more {
  display: inline;
  float: right;
  font-size: 0.7em;
  padding: 0.7em;
}

.see-genre {
  display: block;
  background: var(--orangered);
  width: 280px;
  height: 40px;
  border-radius: 10px;
  box-shadow: 3px 5px 10px var(--lightshadow);
  color: var(--white);
  font-size: 20px;
  text-align: center;
  line-height: 180%;
  margin: 0 0 60px;
  padding: 0;
  position: relative;
}

/* スマホ */
.featured-org__all {
  display: grid;
  grid-auto-rows: 375px;
  grid-auto-columns: 300px;
  grid-gap: 3rem;
  justify-content: center;
  height: max-content;
  margin-bottom: 50px;
}

.featured-org__card {
  box-shadow: 3px 5px 10px var(--lightshadow);
  border-radius: 10px;
}

.featured-org__link {
  display: block;
  height: 88%;
}

.featured-org__link p,
.featured-org__link h4 {
  margin: 0;
  padding: 0;
  margin-left: 15px;
}

.featured-org__link p {
  font-size: 1.3rem;
  color: var(--gray);
}

.featured-org__link h4 {
  font-size: 2.2rem;
}

.featured-org__card img {
  object-fit: cover;
  object-position: 100% 100%;
  width: 100%;
  height: 250px;
  border-radius: 10px 10px 0 0;
}

.featured-org___tag {
  height: var(--tag-space);
  margin: 5px;
  margin-left: 15px;
  padding: 0px;
  font-size: 12px;
  color: var(--gray);
}

.featured-org___tag span {
  background-color: whitesmoke;
}

.student-org {
  display: grid;
  grid-gap: 1em 2em;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: column;
  overflow-x: auto;
  justify-content: start;
  -webkit-overflow-scrolling: touch;
  margin: 0 0 10px;
}

.student-org__card {
  display: grid;
  grid-template-columns: 80px auto auto;
  grid-template-areas:
    "s-icon s-motif ."
    "s-icon s-name s-enter"
    "s-icon s-tag .";
  align-items: center;
  width: 280px;
  padding-bottom: 6px;
  border-bottom: 0.5px solid var(--gray);
}

.student-org__icon {
  grid-area: s-icon;
  width: 60px;
  border-radius: 6px;
  box-shadow: 3px 5px 10px var(--lightshadow);
}

.student-org__motif {
  grid-area: s-motif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.student-org__card h5 {
  grid-area: s-name;
  font-size: 25px;
  margin: 0;
  padding: 0;
}

.student-org__enter {
  grid-area: s-enter;
  margin: 0;
  padding: 0;
}

.student-org__enter a {
  font-size: 12px;
  color: var(--white);
  text-align: center;
  line-height: 200%;
  background: var(--orangered);
  width: 80%;
  height: 70%;
  border-radius: 10px;
  float: right;
}

.student-org__tag {
  grid-area: s-tag;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

.event {
  display: flex;
  overflow-x: auto;
  justify-content: start;
  -webkit-overflow-scrolling: touch;
  margin: 0 0 20px;
  padding: 0;
  height: 310px;
  border-bottom: 0.5px solid var(--gray);
}

.event__card {
  width: 350px;
  height: 300px;
  margin-right: 20px;
}

.event__img {
  object-fit: cover;
  object-position: 80%;
  width: 350px;
  height: 210px;
  border-radius: 5px;
  box-shadow: 3px 5px 10px var(--lightshadow);
}

.event__desc {
  height: 25px;
  margin: 0;
  font-size: 12px;
  line-height: 30px;
}

.event__name {
  height: 40px;
  margin: 0;
  font-size: 35px;
}

.magazine {
  max-width: var(--total-max-width);
}

.magazine__card img {
  max-width: var(--total-max-width);
  object-fit: cover;
  object-position: 100% 100%;
  width: 90vw;
  margin: 0 0 30px;
}

/* タブレット */
@media screen and (min-width: 700px) {
  .open-visual img {
    object-fit: cover;
    object-position: 0% 0%;
    overflow: hidden;
    width: 100vw;
    height: 50vh;
  }

  .open-visual h2 {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    color: var(--white);
    text-shadow: 1px 2px 2px #333;
  }

  .featured-org__all {
    display: grid;
    grid-template-rows: 25rem 25rem;
    grid-template-columns: 20rem 20rem;
    grid-gap: 3rem;
    margin-bottom: 70px;
  }

  .open-visual h2 {
    position: absolute;
    top: 25%;
    width: 100%;
    font-size: 6vw;
    text-align: center;
    color: var(--white);
    text-shadow: 1px 2px 2px #333;
  }

  .student-org__card {
    width: 345px;
    grid-template-columns: 90px auto 40%;
  }

  .student-org__icon {
    width: 80px;
  }

  .magazine__card img {
    max-width: var(--total-max-width);
    object-fit: cover;
    object-position: 100% 100%;
    width: 60vw;
    margin: 0 0 30px;
  }
}
